*{
  border: 1px solid black;
  text-align: center;
}
#everything {
  width: 960px;
  height: 768px;
  margin: auto;
}

#a {
  width: 960px;
  height: 100px;
  line-height: 100px;
}

#bc{
  margin: auto;
  height: 600px;
  width: 960px;
  overflow: hidden;
}

#b{
  width: 200px;
  height: 600px;
  float: left;
  line-height: 600px;
}

#everythingelse{
  width: 760px;
  height: 600px;
  float: left;
}

#cd{
  margin: auto;
  height: 200px;
  width: 760px;
  overflow: hidden;
}

#c{
  height: 200px;
  width: 380px;
  float: left;
  line-height: 200px;
}

#d{
  height: 200px;
  width: 380px;
  float: left;
  line-height: 200px;
}

#efgh{
  margin: auto;
  height: 250px;
  width: 760px;
  overflow: hidden;
}

#e{
  height: 250px;
  width: 190px;
  float: left;
  line-height: 250px;
}

#f{
  height: 250px;
  width: 190px;
  float: left;
  line-height: 250px;
}

#g{
  height: 250px;
  width: 190px;
  float: left;
  line-height: 250px;
}

#h{
  height: 250px;
  width: 190px;
  float: left;
  line-height: 250px;
}

#i{
  height: 150px;
  width: 760px;
  float: left;
  line-height: 150px;
}

@media only screen and (max-width: 767px) {
  #everything {
    width: 480px;
    height: 1060px;
  }
  
  #a {
    width: 480px;
    height: 75px;
    line-height: 75px;
  }
  
  #bc{
    margin: auto;
    width: 480px;
    height: 935px;
  }
  
  #b{
    width: 480px;
    height: 150px;
    line-height: 150px;
  }
  
  #everythingelse{
    background-color: #ccc;
    width: 480px;
    height: 835px;
  }

  #cd{
    margin: auto;
    height: 200px;
    width: 760px;
    overflow: hidden;
  }
  
  #c{
    height: 125px;
    width: 480px;
    line-height: 125px;
  }

  #d{
    height: 125px;
    width: 480px;
    line-height: 125px;
  }
  
  #efgh{
    margin-right: 0px;
    margin-left: 0px;
    height: 500px;
    width: 480px;
    overflow: hidden;
  }
  
  #e{
    height: 250px;
    width: 240px;
    float: left;
    line-height: 250px;
  }
  
  #f{
    height: 250px;
    width: 240px;
    float: left;
    line-height: 250px;
  }

  #g{
    height: 250px;
    width: 240px;
    float: left;
    line-height: 250px;
  }

  #h{
    height: 250px;
    width: 240px;
    float: left;
    line-height: 250px;
  }
  
  #i{
    height: 80px;
    width: 480px;
    line-height: 80px;
  }
  
}