
@media only screen and (max-width: 400px){
header {
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(111, 238, 26);
}

aside {
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(36, 95, 113);
}

#c, #d {
  width: 100%;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#efgh {
  width: 100%;
  min-height: 48vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#e, #f, #h, #g {
  width: 50%;
  text-align: center;
  
}

#i {
  min-height: 8vh;
  justify-content: center;
  text-align: center;
  background-color: rgb(111, 238, 26);
}
}

@media only screen and (min-width: 401px) {

  body {
    display: flex;
    flex-direction: column;
    height: 100%
  }

  #everything {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 85%;
  }
  header {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(111, 238, 26);
  }
  
  aside {
    width: 25%;
    background-color: rgb(36, 95, 113);
  }

  #everythingelse {
    width: 80%;
    height: 85%;
  }
  #cd {
    display: flex;
    flex-direction: row;
    min-height: 31vh;
  }
  #c, #d {
    width: 50%; 
  }
  #efgh {
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    line-height: 40vh;
  }

  #e, #f, #g, #h {
    width: 25%;
  }

  #i {
    min-height: 24vh;
    justify-content: center;
    text-align: center;
    line-height: 24vh;
    background-color: rgb(111, 238, 26);
  }
}