@media only screen and (min-width: 961px) {
  #a {
    background-color: rgb(111, 238, 26);
  }
  #b{
    background-color: rgb(36, 23, 226);
  }
  #c{
    background-color: rgb(240, 21, 148);
  }
  #d{
    background-color: rgb(60, 112, 24);
  }
  #e{
    background-color: rgb(236, 153, 28);
  }
  #f{
    background-color: rgb(153, 211, 18);
  }
  #g{
    background-color: rgb(14, 221, 221);
  }
  #h{
    background-color: rgb(20, 49, 177);
  }
  #i{
    background-color: rgb(216, 230, 208);
  }

}

@media only screen and (min-width: 401px) and (max-width: 960px) {

  #a {
    background-color: rgb(107, 97, 160);
  }
  #b{
    background-color: rgb(216, 230, 208);
  }
  #c{
    background-color: rgb(148, 20, 62);
  }
  #d{
    background-color: rgb(204, 167, 124);
  }
  #e{
    background-color: rgb(14, 221, 221);
  }
  #f{
    background-color: rgb(153, 211, 18);
  }
  #g{
    background-color: rgb(14, 221, 221);
  }
  #h{
    background-color: rgb(119, 15, 96);
  }
  #i{
    background-color: rgb(153, 211, 18);
  }
}
@media only screen and (max-width: 400px) {

  #a {
    background-color: rgb(60, 112, 24);
  }
  #b{
    background-color: rgb(209, 120, 17);
  }
  #c{
    background-color: rgb(222, 236, 24);
  }
  #d{
    background-color: rgb(15, 204, 172);
  }
  #e{
    background-color: rgb(8, 67, 90);
  }
  #f{
    background-color: rgb(107, 97, 160);
  }
  #g{
    background-color: rgb(148, 20, 62);
  }
  #h{
    background-color: rgb(204, 167, 124);
  }
  #i{
    background-color: rgb(119, 15, 96);
  }
}
