*{
  box-sizing: border-box;
}

@media only screen and (min-width: 960px) {
  #a {
    background-color: rgb(111, 238, 26);
  }
  #b{
    background-color: rgb(36, 23, 226);
  }
  #c{
    background-color: rgb(240, 21, 148);
  }
  #d{
    background-color: rgb(60, 112, 24);
  }
  #e{
    background-color: rgb(236, 153, 28);
  }
  #f{
    background-color: rgb(153, 211, 18);
  }
  #g{
    background-color: rgb(14, 221, 221);
  }
  #h{
    background-color: rgb(20, 49, 177);
  }
  #i{
    background-color: rgb(216, 230, 208);
  }

}
body {
  background-color: #ccc;
}
#everything {
  width: 960px;
  height: 768px;
  margin: auto;
}

#a {
  width: 960px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

#bc{
  margin: auto;
  height: 600px;
  width: 960px;
  overflow: hidden;
}

#b{
  width: 200px;
  height: 600px;
  float: left;
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
  line-height: 600px;
}

#everythingelse{
  background-color: #ccc;
  width: 760px;
  height: 600px;
  float: left;
  text-align: center;
  border: 1px solid black;
}
#cd{
  margin: auto;
  height: 200px;
  width: 760px;
  overflow: hidden;
}
#c{
  height: 200px;
  width: 380px;
  border: 1px solid black;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}
#d{
  height: 200px;
  width: 380px;
  border: 1px solid black;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}
#efgh{
  margin: auto;
  height: 250px;
  width: 760px;
  overflow: hidden;
}
#e{
  height: 250px;
  width: 190px;
  border: 1px solid black;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

#f{
  height: 250px;
  width: 190px;
  border: 1px solid black;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}
#g{
  height: 250px;
  width: 190px;
  border: 1px solid black;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}
#h{
  height: 250px;
  width: 190px;
  border: 1px solid black;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}
#i{
  height: 150px;
  width: 760px;
  border: 1px solid black;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}
@media only screen and (max-width: 480px) {
  #everything {
    width: 480px;
    height: 1060px;
  }
  
  #a {
    width: 480px;
    height: 75px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    background-color: rgb(60, 112, 24);
  }
  
  #bc{
    margin: auto;
    width: 480px;
    height: 935px;
  }
  
  #b{
    width: 480px;
    height: 150px;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
    line-height: 150px;
    background-color: rgb(209, 120, 17);
  }
  
  #everythingelse{
    background-color: #ccc;
    width: 480px;
    height: 835px;
    
  }
  #cd{
    margin: auto;
    height: 200px;
    width: 760px;
    overflow: hidden;
  }
  
  #c{
    height: 125px;
    width: 480px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 125px;
    background-color: rgb(222, 236, 24);
  }
  #d{
    height: 125px;
    width: 480px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 125px;
    background-color: rgb(15, 204, 172);
  }
  
  #efgh{
    margin-right: 0px;
    margin-left: 0px;
    height: 500px;
    width: 480px;
    overflow: hidden;
  }
  
  #e{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    background-color: rgb(8, 67, 90);
  }
  
  #f{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    background-color: rgb(107, 97, 160);
  }
  #g{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    background-color: rgb(148, 20, 62);
  }
  #h{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    background-color: rgb(204, 167, 124);
  }
  #i{
    height: 80px;
    width: 480px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    background-color: rgb(119, 15, 96);
  }
  
}